ldap_servers: {{ ldap_host }}
ldap_bind_dn: {{ readonly_ldap_dn }}
ldap_bind_pw: {{ readonly_ldap_pw }}
ldap_search_base: {{ readonly_ldap_search_base }}
ldap_auth_method: {{ saslauth_ldap_auth }}
ldap_use_sasl: no
ldap_start_tls: no
ldap_filter: {{ saslauth_ldap_filter }}
