# This script depends on spam-blocking.pfw also being loaded
# Any traffic that is not explicitly blocked or allowed by other
# rules will be checked against the blocklist.txt file
# Check mod_firewall/scripts/spam-blocking.pfw

%LIST blocklist: file:{{ prosody_installer_plugin_path }}/servers_blocklist.txt

::user/spam_handle_unknown_custom

# replace the above line by ::deliver if not using spam-blocking.

CHECK LIST: blocklist contains $<@from|host>
BOUNCE=policy-violation (Your server is blocked due to spam)
