-- {{ ansible_managed }}

--BOSH setting
bosh_max_inactivity = {{ prosody_bosh_max_inactivity }}
consider_bosh_secure = {{ prosody_bosh_secure }} -- Use if proxying HTTPS->HTTP on the server side

ssl = {
    key = "{{ prosody_ssl_key }}";
    certificate = "{{ prosody_ssl_cert }}";
}
