-- {{ ansible_managed }}

------ Components ------
-- You can specify components to add hosts that provide special services,
-- like multi-user conferences, and transports.
-- For more information on components, see https://prosody.im/doc/components

Component "{{ item.name }}"
  component_secret = "{{ item.secret }}"

{% if item.ssl %}
-- SSL Settings
ssl = {
  key = "{{ prosody_certificate_path }}/{{ item.name }}/privkey.pem";
  certificate = "{{ prosody_certificate_path }}/{{ item.name }}/fullchain.pem";
}
{% endif %}
