-- {{ ansible_managed }}

-- Component config for http_file_share
Component "{{ prosody_http_file_share_component }}" "http_file_share"

{% for item in prosody_http_file_share_options %}
{{ item.name }} = {{ item.value }} -- {{ item.description }}
{% endfor %}
