-- {{ ansible_managed }}

-----Set up a MUC (multi-user chat) room server on conference.example.com:
{% if prosody_muc is defined %}
{% for item in prosody_muc %}
Component "{{ item.url }}" "muc"
  name = "{{ item.name }}"
  restrict_room_creation = {{ item.restrict }}

modules_enabled = {

{% for item in prosody_muc_modules %}
{% if item.module_enabled == 'true' %}
    "{{ item.name }}"; -- {{ item.description }}
{% endif %}
{% endfor %}
};

-- Additional module Settings
{% for module in prosody_muc_modules %}
{% if module.extra_options is defined and module.module_enabled == 'true' %}

-- {{ module.name }}
{% for item in module.extra_options %}
{{ item }}
{% endfor %}
{% endif %}
{% endfor %}

-- SSL Settings
ssl = {
  key = "{{ prosody_certificate_path }}/{{ item.url }}/privkey.pem";
  certificate = "{{ prosody_certificate_path }}/{{ item.url }}/fullchain.pem";
}
{% endfor %}
{% endif %}
