--  {{ ansible_managed }}

-- Component config for SOCKS proxy
Component "{{ prosody_proxy65_url }}" "proxy65"
  proxy65_address = "{{ prosody_proxy65_address }}"
  proxy65_acl = { "{{ prosody_proxy65_acl }}" }

-- SSL Settings
ssl = {
  key = "{{ prosody_certificate_path }}/{{ prosody_proxy65_url }}/privkey.pem";
  certificate = "{{ prosody_certificate_path }}/{{ prosody_proxy65_url }}/fullchain.pem";
}
