-- {{ ansible_managed }}

-- Set up PubSub
{% if prosody_pubsub is defined %}
Component "{{ prosody_pubsub_url }}" "pubsub"

modules_enabled = {
{% for item in prosody_pubsub_modules %}
{% if item.module_enabled == 'true' %}
    "{{ item.name }}"; -- {{ item.description }}
{% endif %}
{% endfor %}
}

-- Additional module Settings
  {% for module in prosody_pubsub_modules %}
    {% if module.extra_options is defined and module.module_enabled == 'true' %}

-- {{ module.name }}
      {% if module.name == 'pubsub_feeds' %}
feed = {
        {% for item in module.feeds %}
  {{ item }}
        {% endfor %}
}
      {% endif %}
{% for item in module.extra_options %}
{{ item }}
{% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

-- SSL Settings
ssl = {
  key = "{{ prosody_certificate_path }}/{{ prosody_pubsub_url }}/privkey.pem";
  certificate = "{{ prosody_certificate_path }}/{{ prosody_pubsub_url }}/fullchain.pem";
}
