----------- Virtual hosts -----------
-- You need to add a VirtualHost entry for each domain you wish Prosody to serve.
-- Settings under each VirtualHost entry apply *only* to that host.

VirtualHost "{{ item.name }}"
enabled = {{ item.enabled }}
carbon_copies_default = {{ item.carbon_defaults }}
authentication = "{{ item.auth_method }}"

{% if item.auth_method == 'cyrus' %}
--Cyrus config
{% for option in item.prosody_cyrus_config %}
cyrus_service_name = "{{ option.cyrus_service_name }}"
cyrus_server_fqdn = "{{ option.cyrus_server_fqdn }}"
cyrus_service_realm = "{{ option.cyrus_service_realm }}"
cyrus_require_provisioning = "{{ option.cyrus_require_provisioning }}"
cyrus_application_name = "{{ option.cyrus_application_name }}"
{% endfor %}
{% endif %}

{% if item.auth_method == 'ldap' %}
--LDAP config
{% for option in item.prosody_ldap_config %}
ldap_server = "{{ option.ldap_server }}"
ldap_rootdn = "{{ option.ldap_rootdn }}"
ldap_password = "{{ option.ldap_password }}"
ldap_base = "{{ option.ldap_basedn }}"
{% if option.ldap_filter is defined %}
ldap_filter = "{{ option.ldap_filter }}"
{% endif %}
ldap_tls = "{{ option.ldap_tls }}"
ldap_mode = "{{ option.ldap_mode }}"
{% endfor %}
{% endif %}
